---
import Layout from '../layouts/Layout.astro';

---

<Layout title="WF Page Example App">
	<main>
		<h1>Your Webflow Site is successfully <span class="text-gradient">Authorized</span></h1>
		<p id="site-data" class="instructions">
			Site data

		</p>
	</main>
</Layout>

<script type="module">
	const urlParams = new URLSearchParams(window.location.search);
    let token = urlParams.get('token');
    if (token && !localStorage.getItem('wf_thing')) {
        localStorage.setItem('wf_thing', token);
    }
	console.log("TOKEN 1", token ? "has token" : "no token");
	if (!token) {
		token = localStorage.getItem('wf_thing');
	}
	console.log("TOKEN 2", token ? "has token" : "no token");

	const hostname = window.location.hostname;
    const apiUrl = `https://${hostname}/api/sites`;

	fetch(apiUrl, {
		method: "GET",
		headers: {
			"X-WF-Thing": `Bearer ${token}`,
			"Content-Type": "application/json"
		},
	})
	.then((response) => response.json())
	.then((data) => {
		const siteData = document.getElementById('site-data');
		siteData.innerHTML = `
			Your Webflow site is successfully authorized. You have ${data.sites.length} sites.
	${JSON.stringify(data.sites)}
		`;
	})
		.catch((error) => {
			console.error(error);
		});
</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
